
# Build files
.vs
BuildAll/obj/
Abaqus/obj/
Core.GH/obj/
Core/obj/
Fun/obj/
Lam.GH/obj/
Lam/obj/
Machine.GH.Extended/obj/
Machine.GH/obj/
Machine/obj/
tasSpeckle/obj/
Projects/Kelowna/obj/
Projects/DMI/obj/
*.pdb
bin/
include_extended/Triangle.NET

# Packages
packages/
resources/

# Dependencies
bin/Eto.dll
bin/GH_IO.dll
bin/Grasshopper.dll
bin/Kelowna.dll
bin/Rhino.UI.dll
bin/RhinoCommon.dll
bin/tas.Core.GH.dll
bin/tasFun.dll
